@{
    var tempdata = TempData["StatusMessage"] as string;
}

@if (!string.IsNullOrEmpty(tempdata))
{
    <div class="alert alert-info" role="alert">
        @tempdata
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}