<div class="dropdown open">
    <button class="btn btn-outline-danger dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
                Manager
            </button>
    <div class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" asp-action="Index" asp-controller="DbManager" asp-area="Database">Database</a>
    </div>
</div>