@model App.Models.ProductModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var product = ViewData["product"] as ProductModel;
}
<p>@ViewBag.Title</p>
<div class="card">
    <h3 class="card-header">@product.Name</h3>
    <div class="card-body">
        <p class="card-te">@product.Price</p>
    </div>
</div>