$contact-bg: rgba(24, 17, 72, 0.8);

.contact-firstcol {
    background-color: rgba(24, 17, 72, 0.8);
    color: white;
    text-align: center;
    border-radius: 10px;

    h6 {
        line-height: 32px;
        font-weight: 400;
        margin-top: 20px;
    }
    img {
        width: 50px;
        margin: 24px 0;
    }
}

.form-contact {
    label {
        font-weight: 700;
    }

    .btn-primary {
        background-color:$contact-bg !important;
        border-color:  $contact-bg !important;
    }
}