

.app-navbar {
    background: rgba(24, 17, 72, 0.8);
    .text-dark {
        color: #e5e5e5 !important;
        &:hover {
            color: white !important;
        }
    }
    .navbar-brand {
        color: #e2fffc !important;
        &:hover {
            color: #d2fffb !important;
        }
    }
    .dropdown-toggle {
        border-color: #feecff00;
        color: #e5e5e5;
        &:hover {
            background-color: #e2fffc00;
            color: white;
        }
    }
}