.post-details {
    .post-title {
        font-weight: 300;
    }

    .post-desc {
        font-style: italic;
    }

    .post-date-updated {

    }

    .post-author {

    }

    .post-content {
        img {
            max-width: 100%;
        }
    }
}