@using App.Models
@{
    ViewData["Title"] = "Home Page";
}

<partial name="_AlertMessage"></partial>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<textarea id="summernote-editor"></textarea>

@{
    var summernoteModel = new Summernote("summernote-editor");
}

<partial name="_Summernote" model="@summernoteModel"></partial>

