@{
    ViewData["Title"] = "Xóa DB";
    Layout = "_LayoutAdminChild";
}

<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger">
    Bạn có chắc muốn xóa DB này không?
</p>

<form method="post">
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a class="nav-link" asp-action="Index">Quản lý DB</a>
</form>